
@model Final.Pages.Channels.AddCommentPartialModel
@{
}

<form method="post" asp-page="Posts">

    <div class="row">
        <div class="col-auto">
            <input class=" form-control mx-3 mt-1" placeholder="Add a comment" asp-for="Comment.Text" />
            <input type="hidden" name="ParentSuggestionId" value="@Model.ParentPostId" />
            <input type="hidden" name="commentID" value="@Model.ParentCommentID" />
        </div>
        <div class=" col-auto">
            <button type="submit" class="btn btn-outline-primary mx-3 mt-1">Add</button>
        </div>
    </div>
</form>
