@page "/AddTopics/{slug}"
@model Final.Pages.Channels.AddTopicsModel
@{
}



    
    @*<div class="col-md-6 col-sm-12 mx-auto mb-5">
        <form method="post" asp-page-handler="/AddTopics">
            <input type="hidden" name="channelID" value="@Model.Channel.ChannelId" />
            <div class="mb-3 row">
                <div class="col-sm-4 text-sm-end align-self-center">
                    <label class="form-label" asp-for="Topic.TopicTitle"></label>
                </div>
                <div class="col">
                    <input class="form-control" asp-for="Topic.TopicTitle" />
                    <span class="form-text" asp-validation-for="Topic.TopicTitle"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-end align-self-center">
                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-outline-primary">Add Child to @Model.Channel.Title</button>
                </div>
            </div>
        </form>
    </div>*@



<div class="col-md-6 col-sm-12 mx-auto mb-5">
    <form method="post" asp-page-handler="AddTopics">
        <input type="hidden" value="@Model.Channel.ChannelId" name="channelId" />
        <input type="hidden" value="@Model.Channel.Slug" name="slug" />
       @*<input type="hidden" asp-for="Channel.Title" />*@
        <div class="mb-3 row">
            <div class="col-sm-4 text-sm-end align-self-center">
                <label class="form-label" asp-for="Topic.TopicTitle"></label>
            </div>
            <div class="col">
                <input class="form-control" asp-for="Topic.TopicTitle" />
                <span class="form-text" asp-validation-for="Topic.TopicTitle"></span>
            </div>
        </div>
        <div class="mb-13 row">
            <div class="col-sm-10 text-sm-end align-self-center">
                <label class="form-label" asp-for="Topic.TopicDescription"></label>
                <textarea asp-for=Topic.TopicDescription rows="5" cols="140"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4 text-sm-end align-self-center">
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-outline-primary">Do the thing!</button>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="/Details">Back to List</a>
</div>