@page "/Profile/"
@model Final.Pages.Channels.ProfileModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
}

<h1>Welcome to our channel @User.Identity.Name</h1>
<form enctype="multipart/form-data" method="post">
    <div class="mb-3 p-2 row">
        <div class=" col-auto text-sm-center">
            <label class=" col-form-label" asp-for="File">Upload profile picture</label>
        </div>
        <div class="col-1">
            <input class=" form-control-file" asp-for="File"type="file" />
            <span class=" form-text" asp-validation-for="File"></span>
        </div>
    </div>
    <div class="row">
        <div class=" col-1">
            <input class=" btn btn-dark" type="submit" value="Upload Your Profile Picture"/>
        </div>
    </div>
</form>

<div class="mt-5" row>
    <img src="Model.PathToAvatar" width="100" />
</div>