@page

@using Newtonsoft.Json
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<h1><center>RUMORS</center></h1>

<center><a asp-page="/Channels/AddChannel">Add a Channel</a></center>

<table>
    <tbody>

        @foreach (var item in Model.ChannelList)
        {

        <tr>
            <td>
               
                    <h3>
                        <a asp-page="/Channels/Details" asp-route-slug="@item.Slug">@item.Title</a>
                    </h3>               

            </td>
            <td>
                @if (Model.IsAdmin)
                {
                    <a asp-page="/Channels/Edit" asp-route-slug="@item.Slug">Edit</a>
                }

                @if (Model.IsAdmin)
                {
                    <span>|</span>
                    <a asp-page="/Channels/DeleteChannel" asp-route-slug="@item.Slug">Delete</a>
                }
            </td>
        </tr>
    }

        </tbody>
    </table>


